.content-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.header {
  font-size: 18px;
  font-weight: bold;
}

.image img {
  width: 100%;
}

.first-card {
  border: 2px solid black;
}
