<div>
  <label for="id">ID:</label>
  <input type="text" id="id" [(ngModel)]="newContent.id" name="id" required>

  <label for="title">Title:</label>
  <input type="text" id="title" [(ngModel)]="newContent.title" name="title" required>

  <label for="creator">Creator:</label>
  <input type="text" id="creator" [(ngModel)]="newContent.creator" name="creator" required>

  <label for="type">Type:</label>
  <input type="text" id="type" [(ngModel)]="newContent.type" name="type" required>


  <button (click)="onSubmit()">Submit</button>

  <div *ngIf="errorMessage" style="color: red; font-weight: bold;">
    {{errorMessage}}
  </div>
</div>
