<div class="content-list">
  <div>
    <h2>Content list</h2>
    <div class="row mt-3" *ngFor="let item of originalList | filter:filterValue">
    </div>
    <div *ngFor="let content of contents | typeFilter: filterType">{{ content.title }}</div>
  </div>
  <app-create-content (contentAdded)="onContentAdded($event)"></app-create-content>

  <div class="card-deck">
    <div *ngFor="let item of contentItems.slice(0, 5)" class="card">
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.description }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="contents">
    <h3>Content with no type:</h3>
    <div *ngFor="let content of contents | typeFilter">
      <app-content-card [content]="content"></app-content-card>
    </div>

    <ng-container *ngFor="let type of contentTypes">
      <h3>Content with type {{ type }}:</h3>
      <div *ngFor="let content of contents | typeFilter:type">
        <app-content-card [content]="content"></app-content-card>
      </div>
    </ng-container>
  </div>
  <div *ngFor="let content of contents | typeFilter:type">
    <app-content-card [content]="content" [class]="contentCard.typeClass"></app-content-card>
  </div>
  <div>
    <input type="text" [(ngModel)]="searchTitle" placeholder="Search by title">
    <button (click)="searchByTitle()">Search</button>
  </div>
  <div *ngIf="searchResult">
    <p [ngStyle]="{'color': searchResult.color}">{{ searchResult.message }}</p>
  </div>


</div>
